<!DOCTYPE html>

<html lang="en">
<head> 
    <%- include ./partials/_header.ejs %>
</head>
<body>
    <ul>
        <% for(let url in urls) { %>
            <li>
                <%= urls[url] %>
            </li>
        <% } %>
    </ul>    
</body>
</html>